.music-list .music-tab {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-gray);
    background-color: transparent;
    cursor: pointer;
  }
  
  .music-tab img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  
  .music-tab p {
    margin: 0;
    font-size: 14px;
  }
  
  .track-number {
    font-size: 14px;
    margin-right: 15px;
  }
  