.albumDetailPage {
  margin: 0 100px;
}

.albumDetail-section{
  position: relative;
  overflow: hidden;
  height: 40vh;
  display: flex;
  align-items: center; 
}

.albumDetail-section::before{
  content: '';
  background: rgb(0 , 0, 0, 0.5);
  position: absolute;
  left: 0;
  height: 40vh;
  width: 100%;
}

.albumDetail-container {
  display: flex;
  z-index: 1;
  margin: 50px 90px;
}

.albumDetail-container img {
  border-radius: 10px;
  height: 200px;
  width: 200px;
  box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
  outline: 5px solid rgb(108, 216, 108);
}

.albumDetail-info {
  color: white;
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.albumDetail-info h3{
  margin: 0;
  font-size: 20px;
  color: rgb(108, 216, 108);
}

.albumDetail-info h1{
  font-size: 40px;
  margin: 0;
}

.albumDetail-info div {
  font-size: 15px;
  font-weight: 600;
}

.albumDetail-btnBar {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  background-color: black;
}

.albumDetail-btnBar button {
  cursor: pointer;
}

.albumDetail-btnBar-play {
  background-color: rgb(108, 216, 108);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  color: black;
}

.albumDetail-btnBar-heart {
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 10px;
  color: white;
  padding: 0px 30px;
  margin: 0px 10px;
}

.albumDetail-btnBar-ellipsis {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 25px;
}

@media (max-width: 768px){
  .albumDetailPage {
    margin: 0;
  }

  .albumDetail-container {
    display: flex;
    z-index: 1;
    margin: 30px 50px;
  }

  .albumDetail-container img {
    border-radius: 10px;
    height: 150px;
    width: 150px;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
    outline: 5px solid rgb(108, 216, 108);
  }
}