.albumDetailPage {
  margin: 0 100px;
}

.albumDetail-section{
  position: relative;
  overflow: hidden;
  height: 40vh;
  display: flex;
  align-items: center; 
}

.albumDetail-section::before{
  content: '';
  background: rgb(0 , 0, 0, 0.5);
  position: absolute;
  left: 0;
  height: 40vh;
  width: 100%;
}

.albumDetail-container {
  display: flex;
  z-index: 1;
  margin: 50px 90px;
}

.albumDetail-container img {
  border-radius: 10px;
  height: 200px;
  width: 200px;
  box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
  outline: 5px solid rgb(108, 216, 108);
}

.albumDetail-info {
  color: white;
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.albumDetail-info h3{
  margin: 0;
  font-size: 20px;
  color: rgb(108, 216, 108);
}

.albumDetail-info h1{
  font-size: 40px;
  margin: 0;
}

.albumDetail-info-detail {
  display: flex;
  font-size: 18px;
  font-weight: 600;
}

.albumDetail-tracks{
  background-color: var(--color-green);
  margin: 0 10px;
  padding: 3px 8px;
  border-radius: 10px;
}

.albumDetail-btnBar {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  background-color: black;
}

.albumDetail-btnBar button {
  cursor: pointer;
}

.albumDetail-btnBar-play {
  background-color: var(--color-green);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  color: black;
}

.albumDetail-btnBar-play:hover{
  color: var(--color-white);
}

.albumDetail-btnBar-heart {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 30px;
  padding: 0px 30px;
  margin: 0px 10px;
  cursor: pointer;
}

.albumDetail-btnBar-heart:hover{
  color: var(--color-green);
}

.albumDetail-btnBar-ellipsis {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 25px;
}

.trackTabs-container {
  width: 100%;
  margin-top: 20px;
}

.track-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: 14px;
}

.track-header > .sharp {
  width: 10%;
  text-align: center;
  font-weight: bold;
}

.track-header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.track-header-info > .time-icon {
  margin-left: auto;
  margin-right: 10px;
}

.track-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
}

.track-row span {
  width: 10%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.track-row .music-tab {
  width: 90%;
}

@media (max-width: 768px){
  .albumDetailPage {
    margin: 0;
  }

  .albumDetail-container {
    display: flex;
    z-index: 1;
    margin: 30px 50px;
  }

  .albumDetail-container img {
    border-radius: 10px;
    height: 150px;
    width: 150px;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
    outline: 5px solid rgb(108, 216, 108);
  }
}