.track-player-progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
}

.track-player-bottom-cotroller-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
}

.track-player-progress-bar-time-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 115%;
  font-size: 12px;
}

.track-player-progress-bar-time {
  padding: 0 6px;
}

.track-player-bottom-cotroller-shuffle {
  font-size: 20px;
  color: var(--color-text-vibrant);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.track-player-bottom-cotroller-previous-play {
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.track-player-bottom-cotroller-next-play {
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.track-player-bottom-cotroller-rotate {
  font-size: 20px;
  color: var(--color-text-vibrant);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.track-player-bottom-cotroller-main {
  font-size: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.track-player-bottom-cotroller-shuffle:hover,
.track-player-bottom-cotroller-previous-play:hover,
.track-player-bottom-cotroller-next-play:hover,
.track-player-bottom-cotroller-rotate:hover,
.track-player-bottom-cotroller-main:hover {
  color: var(--color-green);
  transform: scale(1.1);
}

.track-player-progress-bar {
  width: 75%;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.track-player-progress-bar:hover {
  background-color: var(--color-green) !important;
}

@media screen and (max-width: 768px) {
  .track-player-progress-bar-container {
    width: 55%;
  }

  .track-player-bottom-cotroller-shuffle {
    font-size: 12px;
    padding: 0 20px;
  }

  .track-player-bottom-cotroller-container {
    width: 100%;
    margin-bottom: 3px;
    height: 25px;
    padding: 0;
  }

  .track-player-bottom-cotroller-previous-play {
    font-size: 14px;
  }

  .track-player-bottom-cotroller-next-play {
    font-size: 14px;
  }

  .track-player-bottom-cotroller-rotate {
    font-size: 12px;
    padding: 0 20px;
  }

  .track-player-bottom-cotroller-main {
    font-size: 16px;
    padding: 0 20px;
  }

  .track-player-bottom-cotroller-container {
    justify-content: center;
  }

  .track-player-progress-bar-time {
    padding: 0 5px;
    font-size: 9px;
  }

  .track-player-progress-bar {
    width: 100%;
  }
}
