.search-form {
    max-width: 500px !important;
    margin-bottom: 20px;
  }
  
  @media (min-width: 992px) {
    .search-form {
      display: none;
    }
  }
  
  .search-input {
    border-radius: 50px !important;
    padding: 10px 20px !important;
    border-color: #ced4da !important;
    box-shadow: none !important;
    outline: none !important;
  }
  
  .search-button {
    border-radius: 50px !important;
    padding: 10px 20px !important;
    background-color: black !important;
    border: none !important;
  }
  
  .search-icon-container {
    border-radius: 50px 0 0 50px !important;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border: none;
  }
  
  .search-icon {
    color: black !important;
    font-size: 18px;
  }
  
  @media (max-width: 991px) {
    .search-form {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0 15px;
      margin-bottom: 20px;
    }
  
    .search-input-container {
      position: relative;
      width: 100%;
      max-width: 500px;
    }
  
    .search-icon {
      position: absolute;
      top: 50%;
      left: 5px; 
      transform: translateY(-50%);
      color: black;
      pointer-events: none;
      font-size: 15px; 
    }
  
    .search-input {
      width: 100%;
      padding-left: 55px; 
      border-radius: 50px !important;
      border: 1px solid #ced4da !important;
      padding: 12px 20px !important;
      background-color: white;
      box-shadow: none !important;
      outline: none !important;
    }
  
    .search-button {
      display: none; 
    }
  }
  