.button {
  padding: 1vh 0.8vw;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 18px;
  margin: 0 0.5vw 0 0.5vw;
  width: auto;
  height: 68%;
  text-align: center;
  min-width: 50px;
}

.button.active {
  background-color: var(--color-green);
  color: white;
  text-align: center;
}

.button:hover {
  background-color: #ddd;
}

@media (max-width: 1200px) {
  .button {
    margin: 0.3vh 0.6vw;
    width: 20px;
    height: 55%;
    font-size: 0.5rem;
    font-weight: bold;
  }
}
