.header {
  display: flex;
  padding: 1vh 0;
  color: #bbb;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.vertical {
  flex-direction: column;
  font-weight: 100;
}

.horizontal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  padding: 0.8vw;
  font-weight: 100;
}

.column-index {
  flex: 0.07;
  text-align: center;
}

.hide-index {
  display: none;
}

.column-thumbnail {
  flex: 0.01;
  flex-direction: column;
}

.column-thumbnail-margin-left {
  margin-left: 2vw;
}

.column-thumbnail-no-margin {
  margin-left: 0;
}

.column-info {
  display: flex;
  flex: 0.5;
  margin-left: 2vw;
  margin-right: 2vw;
  flex-direction: row;
  justify-content: right;
  align-items: space-evenly;
}

.column-title {
  flex: 0.7;
  text-align: left;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.column-album {
  flex: 0.8;
  text-align: left;
}

.column-duration {
  flex: 0.15;
  text-align: center;
}

@media (max-width: 1200px) {
  .column-title {
    flex: 0.75;
    text-align: left;
    margin-left: 2vw;
  }
}
