.search-page-container {
  overflow-x: visible;
  overscroll-behavior: contain;
  width: 100vw;
}

.tabs-container {
  position: fixed;
  top: 80px;
  left: 2vw;
  z-index: 1000;
  background-color: var(--color-black);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.1vw;
  padding: 10px 0;
}

.library-container {
  margin-top: 70px;
}

.library-container h2 {
  margin: 0.2vh 1.5vw;
  font-size: 1.7rem;
}

.highlighted-search-result {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-height: 40vh;
  overflow: hidden;
}

.mediahighlight-container {
  flex: 3;
  width: 100px;
  height: 100%;
}

.track-list-container {
  flex: 7;
}

@media (max-width: 1200px) {
  .tabs-container {
    width: 70vw;
    height: 7vh;
  }

  .library-container {
    margin-top: 0;
  }
}
