.track-player-progress-bar-time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.track-player-progress-bar {
  transition: width 0.5s ease;
  border-radius: 10px;
  height: 5px;
}

.track-player-progress-bar-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
