.player-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11%;
  width: 100%;
  margin: auto;
  background: rgb(12, 44, 23);
  background: linear-gradient(#1c1c1c);
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10000000;
}

.player-bottom-info-container {
  display: flex;
  width: 30%;
  height: 100%;
  padding: 0;
  margin-left: 20px;
  align-items: center;
  justify-content: flex-start;
}

.player-bottom-track-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  font-weight: bold;
}

.player-bottom-track-name-container {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-bottom-artist-container {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-bottom-album-img {
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  object-fit: cover;
}

.player-progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.player-bottom-empty {
  width: 30%;
  height: 100%;
  color: black;
}

@media screen and (max-width: 768px) {
  .player-bottom-container {
    height: 10%;
  }

  .player-bottom-info-container {
    width: 40%;
  }

  .player-bottom-album-img {
    width: 40px;
    height: 40px;
    background-size: cover;
  }

  .player-bottom-track-info-container {
    align-items: center;
    text-align: left !important;
    margin-left: 0;
  }

  .player-bottom-track-name-container {
    font-size: 12px;
  }

  .player-bottom-artist-container {
    font-size: 9px;
  }

  .player-bottom-controller {
    width: 400px;
  }

  .player-bottom-empty {
    width: 5%;
  }
}
