/* MusicSlider.style.css */

.carousel-container {
    background-color: #000; 
    padding: 20px;
  }
  
  .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  
  .carousel-item img {
    width: 120px; 
    height: 120px; 
    border-radius: 10px; 
    object-fit: cover; 
    margin-bottom: 10px;
  }


  .carousel-item img:hover {
    transform: scale(1.2); /* 마우스 호버 시 이미지가 20% 확대 */
  }
  
  
  .carousel-item h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #fff;
  }
  
  .carousel-item p {
    font-size: 14px;
    color: #b3b3b3; 
    margin: 5px 0;
  }

  


  
  @media (max-width: 768px) {
    .carousel-item img {
      width: 100px;
      height: 100px;
    }
  
    .carousel-item h2 {
      font-size: 16px;
    }
  
    .carousel-item p {
      font-size: 12px;
    }
  }
  