:root {
  --color-primary: var(--color-black);
  --color-accent: var(--color-green);
  --color-text: var(--color-white);
  --color-text-vibrant: var(--color-gray);

  --color-white: #ffffff;
  --color-black: #050a13;
  --color-green: #74d36f;
  --color-gray: #bdbdbd;
}

.tag {
  background: var(--color-accent);
  border: none;
  color: var(--color-text);
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tag:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .tag {
    padding: 8px 15px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .tag {
    padding: 6px 10px;
    font-size: 0.7rem;
  }
}