.navbar-custom {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--color-black) !important;
  height: 80px;
}

.navbar-brand img {
  transition: transform 0.2s ease;
}

.navbar-brand img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.icon-hover:hover {
  color: var(--color-green);
}

.outlet-container {
  padding-top: 10vh;
}

@media (max-width: 1200px) {
  .navbar-collapse-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .navbar-collapse-custom .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-collapse-custom .nav-link {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #333;
    text-align: center;
  }

  .navbar-collapse-custom .nav-link:last-child {
    border-bottom: none;
  }

  .navbar-collapse-custom .d-none.d-lg-flex {
    display: none;
  }

  .navbar-custom .d-flex {
    display: flex;
    align-items: center;
  }

  .navbar-custom .text-light {
    margin-right: 1rem;
  }

  .outlet-container {
    padding-top: 10vh;
  }
}

@media (max-width: 768px) {
  .outlet-container {
    padding-top: 8vh;
  }
}
