.artist-detail-page {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding-bottom: 5vh;
}

.artist-detail-section {
  display: flex;
  position: relative;
  width: auto;
  max-width: 1920px;
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  padding: 0 2rem;
}

.artist-detail-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.artist-detail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artist-detail-info h1 {
  font-size: 5em;
  margin: 0;
  font-weight: 900;
}

.artist-detail-info div {
  font-size: 1rem;
  margin: 0;
  opacity: 0.8;
}

.artist-detail-info-detail > div {
  margin-top: 10px;
  font-size: 1em;
}

.artist-detail-content-wrapper {
  background: rgba(0, 0, 0.1, 0.9); /* 반투명 검정 */
  backdrop-filter: blur(8px); /* 약간의 흐림 효과 (옵션) */
  border-top: 1px solid rgba(255, 255, 255, 0.08); /* 위쪽 얇은 구분선 (있으면 Spotify 느낌 더 강함) */
}

.artist-detail-btn-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 30px 0;
  margin: 0 2rem;
  color: #9ea3a7;
  transition: color 0.8s ease;
}

.artist-detail-basic-btn {
  font-size: 2.2rem;
  cursor: pointer;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.artist-detail-basic-btn.active {
  background-color: var(--color-bright-green);
  font-size: 1.5rem;
  color: #cbd0d3;
}

.artist-detail-play-btn {
  width: 70px;
  height: 70px;
  font-size: 2.2rem;
  cursor: pointer;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.artist-detail-basic-btn:hover {
  color: #cbd0d3;
}

.artist-detial-follow-btn {
  width: 100px;
  font-size: 1rem;
  border: 1px #cbd0d3 solid;
  border-radius: 20px;
}

.track-tabs-container {
  display: flex;
  width: 100%;
}

.artist-popular-track-container {
  display: flex;
  flex: 6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.artist-popular-track-container > h2 {
  margin-left: 30px;
  width: 100%;
  text-align: left;
}

.related-tracks {
  display: flex;
  flex-direction: column;
  flex: 4;
}
