/* Global */
:root {
  /* Application Colour */
  --color-primary: var(--color-black);
  --color-accent: var(--color-green);
  --color-text: var(--color-white);
  --color-text-vibrant: var(--color-gray);

  /* Colour */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-green: #74d36f;
  --color-gray: #bdbdbd;
}

/* 사용 예시 ---> color: var(--color-text); */