/* Global */
:root {
  /* Application Colour */
  --color-primary: var(--color-black);
  --color-accent: var(--color-green);
  --color-text: var(--color-white);
  --color-text-variant: var(--color-gray);

  /* Colour */
  --color-white: #ffffff;
  --color-black: #1c1c1c /*rgb(28, 27, 27);*/
  --color-green: #74d36f;
  --color-bright-green: #1db954;
  --color-gray: #bdbdbd;
}

/* 사용 예시 ---> color: var(--color-text); */
