.music-tab {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}

.music-tab:last-child {
  border-bottom: none;
}

.album-tab,
.artist-tab,
.track-tab {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.track-tab {
  justify-content: space-between;
  width: 100%;
}

.album-image,
.artist-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
}

.artist-image {
  border-radius: 50%;
}

.album-info,
.artist-info,
.track-info {
  display: flex;
  flex-direction: column;
}

.album-info h3,
.artist-info h3,
.track-info h3 {
  font-size: 16px;
  margin: 0;
  color: #ffffff;
}

.album-info p,
.artist-info p,
.track-info p {
  font-size: 14px;
  color: #999999;
}

.track-duration {
  width: 10%;
  margin-left: auto;
  margin-right: 20px;
  font-size: 14px;
  color: #888;
}