.music-tab {
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}

.music-tab:last-child {
  border-bottom: none;
}

.album-tab,
.artist-tab,
.track-tab {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.track-tab {
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}

.track-tab > .track-image {
  margin-left: 10px;
}

.album-image,
.artist-image,
.track-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
}

.artist-image {
  border-radius: 50%;
}

.album-info,
.artist-info,
.track-info {
  display: flex;
  flex-direction: column;
}

.album-info h3,
.artist-info h3,
.track-info h3 {
  font-size: 16px;
  margin: 0;
  color: #ffffff;
}

.album-info p,
.artist-info p,
.track-info p {
  font-size: 14px;
  color: #999999;
}

.track-duration {
  width: 10%;
  margin-left: auto;
  text-align: right;
  font-size: 14px;
  color: #888;
}

/* 새로운 스타일 추가 */
.track-number-or-icon {
  width: 40px; /* 아이콘과 트랙 넘버 크기 고정 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.play-icon {
  font-size: 24px;
  cursor: pointer;
}

.default-text {
  color: var(--color-black);
  font-size: 24px;
  text-align: center;
}
