.slider-container {
  overflow: visible;
}

.carousel-container {
  width: 100%;
  overflow: visible;
  height: auto;
}

.react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all 0.5s;
  border-radius: 35px;
  z-index: 1000;
  border: 0;
  background: rgba(46, 46, 46, 0.5);
  min-width: 33px;
  min-height: 33px;
  opacity: 1;
  cursor: pointer;
}

.react-multiple-carousel__arrow:hover {
  background: rgba(116, 211, 111, 0.5) !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(1% + 1px);
}

.react-multiple-carousel__arrow--left {
  left: calc(1% + 1px);
}

.carousel-item-padding-3-px {
  padding: 0 3px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .slider-container h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 10px;
  }

  .slider-container h3::before {
    width: 40px;
    height: 6px;
    margin-left: 20px;
  }

  .carousel-container {
    margin-top: 15px;
  }

  .carousel-item-padding-3-px {
    width: 150px;
    height: 250px;
    margin: 0 10px;
  }

  .carousel-container {
    height: 250px;
    padding: 0;
  }
}
