.card-container {
  position: relative;
  width: 220px;
  height: 300px;
  padding-top: 10px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.card-container:hover {
  background: rgb(31, 93, 55);
  background: linear-gradient(
    146deg,
    rgba(31, 93, 55, 1) 0%,
    rgba(47, 47, 47, 1) 47%
  );
}

.card-container::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 5px;
  background-color: var(--color-green);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.card-container:hover::after {
  opacity: 1;
}

.card-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1),
    10px 10px 30px 4px rgba(45, 255, 146, 0.15);
}

.card-img.round {
  border-radius: 50%;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.card-info.align-left {
  text-align: left;
  align-items: flex-start;
  margin-left: 10px;
}

.card-info.align-center {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  align-items: center;
}

.card-info.align-right {
  text-align: right;
  align-items: flex-end;
  margin-right: 10px;
}

.card-title {
  color: var(--color-white);
  font-size: 0.85rem;
  font-weight: 700;
  margin: 0;
  width: 90%;
}

.card-subtitle {
  color: var(--color-white);
  font-size: 0.7rem;
  margin: 3px 0 0;
  width: 90%;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-container:hover .card-btn {
  color: var(--color-white);
  background-color: var(--color-green);
}

.card-btn {
  border: 1px solid var(--color-green);
  border-radius: 5px;
  background-color: transparent;
  color: var(--color-green);
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0px 30px;
  margin-top: 10px;
}

@media (max-width: 900px) {
  .card-container {
    width: 150px;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.2s ease-in-out;
  }

  .card-container::after {
    height: 2px;
  }

  .card-img {
    width: 130px;
    height: 130px;
    border-radius: 5px;
  }

  .card-info {
  }

  .card-info.align-left {
    margin-left: 3px;
  }

  .card-info.align-center {
  }

  .card-info.align-right {
    margin-left: 3px;
  }

  .card-title {
    font-size: 0.9rem;
    font-weight: 600;
    width: 120px;
  }

  .card-subtitle {
    font-size: 0.7rem;
    width: 120px;
  }

  .card-btn {
    border: 0.5px solid var(--color-green);
    border-radius: 3px;
    font-size: 0.7rem;
  }
}
